// vendors
// @import "~bootstrap/scss/bootstrap";
@import "./sn-css-temp";

$scrollbar-width: 6px;
$scrollbar-border-radius: 0;
$scrollbar-track: #f5f5f5;
$scrollbar-bar: #6c757d;
$scrollbar-other: #fcfcfc;

#fence-estimator-app {
  height: 80vh;
}

.fence-estimator {
  height: 100%;
}

.fence-estimator__container {
  height: 100%;
  position: relative;
}

// * SIDEBAR
.map-search-sidebar {
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  // box-shadow: 1px 2px 9px 3px #847f83;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 420px;
  height: 90vh;
  z-index: 20;

  .alert {
    font-size: 12px;
  }
}

.map-search-controllers {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.map-search-controller__searcher {
  form {
    margin-bottom: 0;
  }
}

.map-search-results-controller {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  flex: 1 0 0;
  display: inline-flex;
  flex-flow: column nowrap;
  height: 100%;
}

.map-search-results__shapes-table {
  flex: 1 0 0;
  overflow-y: auto;
  padding-right: 10px;

  scrollbar-base-color: $scrollbar-track;
  scrollbar-face-color: $scrollbar-bar;
  scrollbar-shadow-color: $scrollbar-bar;
  scrollbar-highlight-color: $scrollbar-other;
  scrollbar-3dlight-color: $scrollbar-other;
  scrollbar-darkshadow-color: $scrollbar-bar;
  scrollbar-track-color: $scrollbar-track;
  scrollbar-arrow-color: transparent;

  &::-webkit-scrollbar {
    background-color: $scrollbar-bar;
    border-radius: 4px;
    width: $scrollbar-width;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-bar;
    border: 1px solid none;
    border-radius: 4px;
  }
}

// * MAP
.fence-estimator__map-container {
  height: 100%;
}

.fence-estimator__map,
#fence-estimator-map {
  height: 100%;
  position: relative;
}

.plotting__save-paddock-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 20;
}

// FORM
.map-search-results__address {
  span {
    display: block;
  }
}

[aria-hidden="true"] {
  display: none;
}

// Overrides
.pac-container {
  z-index: 9999;
}

.modal-dialog {
  max-width: 90%;
}

.modal-content {
  height: 90vh;
}

// * TOOLS
.map-search-tools-controller {
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  // box-shadow: 1px 2px 9px 3px #847f83;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 10;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.map-tool {
  background-color: #f5f5f5;
  // border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;

  & + & {
    margin-top: 5px;
  }

  &:hover:not([aria-disabled="true"]),
  &:active:not([aria-disabled="true"]),
  &:focus:not([aria-disabled="true"]) {
    background-color: #e2e3e5;
    outline: none;
  }

  &[aria-disabled="true"] {
    background-color: #e2e3e5;
    color: #f5f5f5;
    cursor: default;

    .map-tool__icon {
      stroke: #f5f5f5;
    }
  }
}

.map-tool__icon {
  height: 25px;
  width: 25px;
}

.created-fence {
  background-color: #fafafa;
  display: flex;
  flex-flow: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 5px;

  & + & {
    margin-top: 30px;
  }
}

.created-fence__section {
  flex: 1 1 calc(100% / 3);

  & + & {
    margin-left: 5px;
  }
}

.created-fence__section-label {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.created-fence__name,
.created-fence__length {
  border: 1px solid #d2d2d2;
  padding: 10px;
  margin-bottom: 0;
  width: 100%;
  border-radius: 4px;
  font-size: 12px;
}

.created-fence__section--actions {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  flex: 0 0 40px;
}

.created-fence__edit {
  background-color: #234535;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
}

.created-fence__delete {
  width: 40px;
  height: 40px;
}

.created-fence__icon {
  width: 15px;
  height: 15px;
}

.plotting__delete-button {
  font-size: 12px;
}

.map-plotting-results-controller__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-plotting-results-controller__total-label {
  font-size: 14px;
  font-weight: bold;
}

.map-plotting-results__perimiter {
  font-size: 25px;
  font-weight: bold;
}

.map-plotting-results-controller__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// LENGTH LABEL
.paddock-length {
  position: absolute;
  background: #ffffff;
  border-radius: 4px;
  padding: 5px;
}

// SHAPE MENU
.paddock-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.paddock-menu {
  position: absolute;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(#000000, 0.15);
  min-width: 150px;
  pointer-events: initial;
}

.paddock-menu__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 20px 15px;
}

.paddock-menu__button {
  width: 100%;
  display: block;
  padding: 10px 15px;
  text-align: left;

  // & + & {
  //   margin-top: 10px;
  //   border-top: 1px solid #ededed;
  // }

  &:hover {
    background-color: #ededed;
  }

  &:active,
  &:focus {
    outline: none;
    background-color: #e2e3e5;
  }
}
// PRINT
@media print {
  .map-search-tools-controller,
  .map-search-controller,
  .map-plotting-results-controller,
  .qty,
  .plotting__delete-button,
  .col-edit,
  .col-delete,
  [data-action="edit"],
  [data-action="delete"],
  .btn-control-icons--edit,
  .btn-control-icons--delete,
  .created-fence__section--actions {
    display: none !important;
  }

  .fence-estimator__map {
    height: 100vh;
    width: 100vw;
  }

  .map-search-sidebar {
    position: initial;
    width: 50vw;
  }
  .created-fence__section {
    width: 50%;
  }
}
