// vendors
// @import "~bootstrap/scss/bootstrap";
@import "./sn-css-temp";

#fence-estimator-app {
  height: 80vh;
}

.fence-estimator {
  height: 100%;
}

.fence-estimator__container {
  height: 100%;
}

// * MAP
.fence-estimator__map-container {
  height: 100%;
}

.fence-estimator__map,
#fence-estimator-map {
  height: 100%;
}

// FORM
.map-search-results__address {
  span {
    display: block;
  }
}

[aria-hidden="true"] {
  display: none;
}

// Overrides
.pac-container {
  z-index: 9999;
}

.modal-dialog {
  max-width: 90%;
}

.modal-content {
  height: 90vh;
}
